@layer components {
  .button {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px 24px;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    border-radius: 4px;

    text-transform: uppercase;

    color: var(--color-zinc-100);

    background-color: var(--color-zinc-700);

    &:hover {
      background-color: color-mix(in hsl, var(--color-zinc-700), black 5%);
    }

    &:disabled,
    a&:not([href]) {
      background-color: var(--color-zinc-500);
      color: var(--color-zinc-400);

      &:hover {
        background-color: var(--color-zinc-500);
        color: var(--color-zinc-400);
      }
    }

    &[data-size='dense'] {
      padding: 5px 28px;
      font-size: 16px;
      line-height: 22px;
    }

    &[data-variant='accent'] {
      background-color: var(--color-crimson-600);

      &:hover {
        background-color: color-mix(in hsl, var(--color-crimson-600), black 10%);
      }

      &:disabled,
      a&:not([href]) {
        background-color: var(--color-crimson-600);
        color: var(--color-zinc-100);

        &:hover {
          background-color: var(--color-crimson-600);
          color: var(--color-zinc-100);
        }
      }
    }

    &[data-variant='alert'] {
      background-color: var(--color-zinc-950);
      color: var(--color-alert);

      &:hover {
        background-color: color-mix(in hsl, var(--color-zinc-950), white 4%);
      }
    }

    &[data-variant='darker'] {
      background-color: var(--color-zinc-950);
      &:hover {
        background-color: color-mix(in hsl, var(--color-zinc-950), black 5%);
      }
    }

    &[data-variant='lighter'] {
      background-color: var(--color-zinc-100);
      color: var(--color-zinc-900);

      &:hover {
        background-color: color-mix(in hsl, var(--color-zinc-100), black 5%);
      }

      &:disabled,
      a&:not([href]) {
        background-color: var(--color-zinc-100);
        color: var(--color-zinc-400);

        &:hover {
          background-color: var(--color-zinc-100);
          color: var(--color-zinc-400);
        }
      }
    }

    &.compact {
      padding: 8px;

      span {
        display: none;
      }
    }
  }
}
