@utility fade-scroll {
  --scrollbar-width: 16px;
  overflow-y: auto;

  max-height: 100%;
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--top-mask-size, 0),
    black calc(100% - var(--bottom-mask-size, 0)),
    transparent 100%
  );
  mask-repeat: no-repeat, no-repeat;
  --top-mask-size: 0px;
  --bottom-mask-size: 0px;

  &.mask-top {
    @media (width >= theme(--breakpoint-lg)) {
      padding-right: 16px;
    }
    --top-mask-size: 48px !important;
  }

  &.mask-bottom {
    @media (width >= theme(--breakpoint-lg)) {
      padding-right: 16px;
    }
    --bottom-mask-size: 48px !important;
  }

  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--color-abru-light-30) transparent;

  /* Webkit / Blink */
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-abru-light-30);
    border-radius: 9999px; /* always round */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
