@layer components {
  .game-class-skill-input {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--color-abru-light-5);
    border-radius: 4px;
    height: 48px;
    align-items: center;

    img {
      margin-left: 8px;
    }

    input {
      text-align: center;
      width: 48px;
      background: transparent;
      border: none;
    }
  }
}
