@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './admin-panel.css';
@import './banner.css';
@import './button.css';
@import './dialog.css';
@import './fade-scroll.css';
@import './flash-messages.css';
@import './footer.css';
@import './game-class-skill-input.css';
@import './navigation-bar.css';
@import './pagination.css';
@import './satoshi.css';
@import './snackbar.css';
@import './switch.css';
@import './tabs.css';
@import './tooltip.css';

@theme {
  --font-sans:
    Satoshi, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-abru: #0e0e11;

  --color-abru-light-3: #18181b;
  --color-abru-light-5: #202023;
  --color-abru-light-10: #27272a;
  --color-abru-light-15: #3f3f46;
  --color-abru-light-20: #52525b;
  --color-abru-light-25: #52525b;
  --color-abru-light-30: #71717a;
  --color-abru-light-35: #71717a;
  --color-abru-light-50: #a1a1aa;
  --color-abru-light-60: #a1a1aa;
  --color-abru-light-70: #d4d4d8;
  --color-abru-light-75: #e4e4e7;
  --color-abru-light-85: #f4f4f5;

  --color-abru-dark-3: #18181b;
  --color-abru-dark-6: #18181b;
  --color-abru-dark-15: #141417;
  --color-abru-dark-20: #141417;
  --color-abru-dark-25: #0e0e11;
  --color-abru-dark-29: #0e0e11;

  --color-surface: #18181b;
  --color-surface-raised: #27272a;
  --color-surface-hover: #3f3f46;
  --color-border: #3f3f46;
  --color-text-muted: #a1a1aa;

  --color-accent-600: #f61059;
  --color-accent: #f61059;

  --color-ash: #f4f4f5;
  --color-alert: #ff9e1f;
  --color-steam: #6f9f31;
  --color-team-blu: rgb(88 121 138);
  --color-team-red: rgb(189 59 59);
  --color-game-result-win: #52ffb8;
  --color-game-result-loss: #a71d31;
  --color-game-result-tie: #f4f4ed;
  --color-place-1st: #e3c392;
  --color-place-2nd: #bbbbbb;
  --color-place-3rd: #e3a592;
}

@layer base {
  /*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 100ms;
}

@layer base {
  body {
    background-color: var(--color-abru);
    color: var(--color-ash);
  }

  table,
  .table {
    thead,
    .table-header-group {
      color: var(--color-abru-light-75);
    }

    td,
    .table-cell {
      padding: 2px;
    }
  }

  label {
    font-weight: 600;
    color: var(--color-abru-light-75);
  }

  dl {
    dt {
      margin-bottom: 4px;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='url'],
  select,
  textarea {
    background-color: var(--color-abru-light-5);
    border-radius: 4px;
    padding: 4px 8px;
    color: #ffffff;

    &:disabled {
      color: var(--color-abru-light-50);
    }
  }

  input[type='range'] {
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      appearance: none;
    }

    &:focus {
      outline: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;

      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-webkit-slider-thumb {
      height: 18px;
      width: 18px;
      margin-top: -5px;
      border-radius: 50%;
      background-color: var(--color-accent);
      cursor: pointer;
      border: none;
    }

    &::-moz-range-thumb {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: var(--color-accent);
      cursor: pointer;
      border: none;
    }

    &:hover::-webkit-slider-thumb {
      background-color: color-mix(in hsl, var(--color-accent), black 10%);
    }

    &:hover::-moz-range-thumb {
      background-color: color-mix(in hsl, var(--color-accent), black 10%);
    }

    &:focus::-webkit-slider-thumb {
      border: 1px solid var(--color-accent);
      outline: 3px solid var(--color-accent);
      outline-offset: 0.125rem;
    }

    &:focus::-moz-range-thumb {
      border: 1px solid var(--color-accent);
      outline: 3px solid var(--color-accent);
      outline-offset: 0.125rem;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background-color: var(--color-abru-light-5);
      border-radius: 4px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background-color: var(--color-abru-light-5);
      border-radius: 4px;
    }
  }
}
