@import 'admin-panel.css';
@import 'banner.css';
@import 'button.css';
@import 'dialog.css';
@import 'fade-scroll.css';
@import 'flash-messages.css';
@import 'footer.css';
@import 'game-class-skill-input.css';
@import 'navigation-bar.css';
@import 'pagination.css';
@import 'satoshi.css';
@import 'snackbar.css';
@import 'switch.css';
@import 'tabs.css';
@import 'tooltip.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #221d24;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (min-width: 1700px) {
  body {
    background-image: url('/bg@2x.png');
  }
}

table,
.table {
  thead,
  .table-header-group {
    color: theme(colors.abru.light.75);
  }

  td,
  .table-cell {
    padding: 2px;
  }
}

label {
  font-weight: 600;
  color: theme(colors.abru.light.75);
}

dl {
  dt {
    margin-bottom: 4px;
  }
}

input[type='text'],
input[type='number'],
select,
textarea {
  background-color: theme(colors.abru.light.5);
  border-radius: 4px;
  padding: 4px 8px;
  color: #ffffff;

  &:disabled {
    color: theme(colors.abru.light.50);
  }
}

input[type='range'] {
  appearance: none;
  background: transparent;

  &::-webkit-slider-thumb {
    appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: theme('colors.accent.DEFAULT');
    cursor: pointer;
    border: none;
  }

  &:hover::-webkit-slider-thumb,
  &:hover::-moz-range-thumb {
    background-color: darken(theme('colors.accent.DEFAULT'), 10%);
  }

  &:focus::-webkit-slider-thumb,
  &:focus::-moz-range-thumb {
    border: 1px solid theme('colors.accent.DEFAULT');
    outline: 3px solid theme('colors.accent.DEFAULT');
    outline-offset: 0.125rem;
  }

  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background-color: theme('colors.abru.light.5');
    border-radius: 4px;
  }
}
