@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './admin-panel.css';
@import './banner.css';
@import './button.css';
@import './dialog.css';
@import './fade-scroll.css';
@import './flash-messages.css';
@import './footer.css';
@import './game-class-skill-input.css';
@import './navigation-bar.css';
@import './pagination.css';
@import './satoshi.css';
@import './snackbar.css';
@import './switch.css';
@import './tabs.css';
@import './tooltip.css';

@theme {
  --font-sans:
    Satoshi, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-abru: #1c1320;

  --color-abru-light-3: #221d24;
  --color-abru-light-5: #272129;
  --color-abru-light-10: #332b36;
  --color-abru-light-15: #3e3641;
  --color-abru-light-20: #49424d;
  --color-abru-light-25: #564d59;
  --color-abru-light-30: #605b62;
  --color-abru-light-35: #6b666e;
  --color-abru-light-50: #8d898f;
  --color-abru-light-55: #99959b;
  --color-abru-light-60: #a6a0a6;
  --color-abru-light-70: #bbb8bc;
  --color-abru-light-75: #c7c4c7;
  --color-abru-light-85: #dddcdd;

  --color-abru-dark-3: #1a161b;
  --color-abru-dark-6: #19161a;
  --color-abru-dark-10: #181519;
  --color-abru-dark-15: #171418;
  --color-abru-dark-20: #161216;
  --color-abru-dark-25: #141115;
  --color-abru-dark-29: #131014;

  --color-accent-200: #fdcfde;
  --color-accent-400: #f84c82;
  --color-accent-600: #f61059;
  --color-accent: #f61059;
  --color-accent-hover: #dd0e50;

  --color-ash: #f4f4ed;
  --color-alert: #ff9e1f;
  --color-steam: #6f9f31;
  --color-team-blu: rgb(88 121 138);
  --color-team-red: rgb(189 59 59);
  --color-game-result-win: #52ffb8;
  --color-game-result-loss: #a71d31;
  --color-game-result-tie: #f4f4ed;
  --color-place-1st: #e3c392;
  --color-place-2nd: #bbbbbb;
  --color-place-3rd: #e3a592;

  --aspect-3\/1: 3 / 1;

  --animate-rotate: rotate 500ms linear;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}

@layer base {
  /*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  body {
    background-color: #221d24;
    background-image: url('/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @media only screen and (min-width: 1700px) {
    body {
      background-image: url('/bg@2x.png');
    }
  }

  table,
  .table {
    thead,
    .table-header-group {
      color: var(--color-abru-light-75);
    }

    td,
    .table-cell {
      padding: 2px;
    }
  }

  label {
    font-weight: 600;
    color: var(--color-abru-light-75);
  }

  dl {
    dt {
      margin-bottom: 4px;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='url'],
  select,
  textarea {
    background-color: var(--color-abru-light-5);
    border-radius: 4px;
    padding: 4px 8px;
    color: #ffffff;

    &:disabled {
      color: var(--color-abru-light-50);
    }
  }

  input[type='range'] {
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      appearance: none;
    }

    &:focus {
      outline: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;

      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: var(--color-accent);
      cursor: pointer;
      border: none;
    }

    &:hover::-webkit-slider-thumb,
    &:hover::-moz-range-thumb {
      background-color: color-mix(in hsl, var(--color-accent), black 10%);
    }

    &:focus::-webkit-slider-thumb,
    &:focus::-moz-range-thumb {
      border: 1px solid var(--color-accent);
      outline: 3px solid var(--color-accent);
      outline-offset: 0.125rem;
    }

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background-color: var(--color-abru-light-5);
      border-radius: 4px;
    }
  }
}
