@layer components {
  .menu-item {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;

    background-color: theme(colors.abru.dark.29);
    color: theme(colors.abru.light.75);

    font-size: 36px;
    font-weight: 500;

    border-radius: 10px;
    padding: 7px 34px;

    &:hover {
      background-color: theme(colors.abru.dark.20 / 40%);
    }

    @media screen(lg) {
      background-color: initial;

      font-size: 18px;

      border-radius: 4px;
      padding: 4px 10px;
    }

    &[aria-current='page'] {
      background-color: theme(colors.abru.dark.20);
    }

    &.accent {
      color: theme(colors.accent.DEFAULT);
    }
  }

  .profile-menu-item {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    border-radius: 0.5rem /* 8px */;
    background-color: theme('colors.abru.dark.29');
    gap: 0.5rem /* 8px */;

    &--accent {
      color: theme(colors.accent.600);
    }

    &:hover {
      background-color: lighten(theme('colors.abru.dark.29'), 2%);
    }
  }

  .steam-button {
    background-color: theme(colors.steam);
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 16px;
    gap: 8px;
    align-items: center;

    span {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.05em;

      @media screen(lg) {
        font-size: 16px;
      }
    }

    .icon {
      background-color: #ffffff;
      color: theme(colors.steam);
      border-radius: 3px;
      padding: 1px;
    }
  }

  .profile-button {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    width: 100%;
    padding: 11px;
    border-radius: 10px;
    text-overflow: ellipsis;

    background-color: theme(colors.abru.dark.29);
    color: theme(colors.abru.light.75);
    text-align: left;

    @media screen(lg) {
      width: 300px;
    }

    &:hover {
      background-color: lighten(theme(colors.abru.dark.29), 2%);
    }

    &:active {
      background-color: theme(colors.abru.dark.29);
    }
  }

  .divider {
    width: 236px;
    height: 1px;
    align-self: center;
    background-color: theme(colors.abru.light.5);
  }
}
