@layer components {
  .toggle-menu-button {
    position: absolute;
    top: calc(50% - 21px);
    right: 16px;

    color: theme(colors.abru.light.75);
    z-index: 10;

    @media screen(lg) {
      display: none;
    }
  }

  .logo {
    position: absolute;
    /* top: 16px; */
    top: calc(50% - 22px);
    left: 16px;
    z-index: 10;

    img {
      height: 44px;
    }

    @media screen(lg) {
      position: static;
      margin-left: 4px;
      margin-right: 4px;
      align-self: center;
    }
  }

  .menu-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    clip-path: polygon(90% 6%, 92% 6%, 92% 7%, 90% 7%);
    opacity: 0;
    transition:
      clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen(lg) {
      position: static;
      width: auto;
      height: auto;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-weight: 500;

      clip-path: none;
      opacity: 1;
    }

    &.active {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
      opacity: 1;
    }

    .menu {
      background: theme(colors.abru.dark.3);
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 95px 16px 0 16px;

      @media screen(lg) {
        background: none;

        flex-direction: row;
        align-items: center;
        padding: 0;
      }
    }
  }

  .menu-item {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;

    background-color: theme(colors.abru.dark.29);
    color: theme(colors.abru.light.75);

    font-size: 36px;
    font-weight: 500;

    border-radius: 10px;
    padding: 7px 34px;

    &:hover {
      background-color: theme(colors.abru.dark.20 / 40%);
    }

    @media screen(lg) {
      background-color: initial;

      font-size: 18px;

      border-radius: 4px;
      padding: 4px 10px;
    }

    &[aria-current='page'] {
      background-color: theme(colors.abru.dark.20);
    }

    &.accent {
      color: theme(colors.accent.DEFAULT);
    }
  }

  .profile-menu-item {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    border-radius: 0.5rem /* 8px */;
    background-color: theme('colors.abru.dark.29');
    gap: 0.5rem /* 8px */;

    &--accent {
      color: theme(colors.accent.600);
    }

    &:hover {
      background-color: lighten(theme('colors.abru.dark.29'), 2%);
    }
  }

  .steam-button {
    background-color: theme(colors.steam);
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 16px;
    gap: 8px;
    align-items: center;

    span {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.05em;

      @media screen(lg) {
        font-size: 16px;
      }
    }

    .icon {
      background-color: #ffffff;
      color: theme(colors.steam);
      border-radius: 3px;
      padding: 1px;
    }
  }

  .profile-button {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    width: 100%;
    padding: 11px;
    border-radius: 10px;
    text-overflow: ellipsis;

    background-color: theme(colors.abru.dark.29);
    color: theme(colors.abru.light.75);
    text-align: left;

    @media screen(lg) {
      width: 300px;
    }

    &:hover {
      background-color: lighten(theme(colors.abru.dark.29), 2%);
    }

    &:active {
      background-color: theme(colors.abru.dark.29);
    }
  }

  .divider {
    width: 236px;
    height: 1px;
    align-self: center;
    background-color: theme(colors.abru.light.5);
  }
}
