@import '../../../games/views/html/game-list.css';

.player-group {
  grid-template-columns: subgrid;
}

.player-presentation {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 22px;
  background-color: var(--color-abru-dark-29);
  color: var(--color-abru-light-75);
  row-gap: 24px;

  @media (width >= theme(--breakpoint-md)) {
    grid-auto-flow: row;
    grid-template-columns: 218px auto auto;
    justify-items: normal;
    row-gap: 10px;
    padding-right: 40px;
  }

  .player-avatar {
    grid-row: span 2 / span 2;
    height: 184px;
    width: 184px;
    border-radius: 4px;
  }

  .player-stats {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;

    @media (width >= theme(--breakpoint-md)) {
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      justify-self: start;
      column-gap: 24px;

      @media not all and (width >= theme(--breakpoint-lg)) {
        grid-column: span 2 / span 2;
        width: 100%;
      }
    }
  }
}

.player-presentation-link {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: var(--color-abru-light-3);
  color: var(--color-abru-light-75);
  height: 48px;
  min-width: 200px;

  border-radius: 4px;
  padding: 12px 32px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @media (width >= theme(--breakpoint-md)) {
    min-width: 0;
  }

  &:hover {
    background-color: color-mix(in hsl, var(--color-abru-light-3), white 2%);
  }
}

.player-admin-toolbox {
  display: grid;
  grid-template-areas:
    'captionSkill     captionSkill'
    'skillScout       skillScout'
    'skillSoldier     skillSoldier'
    'skillDemoman     skillDemoman'
    'skillMedic       skillMedic'
    'buttonSave       buttonReset'
    'captionWinLoss   captionWinLoss'
    'winLoss          winLoss'
    'linkEdit         linkEdit';
  grid-template-columns: repeat(2, minmax(0, 1fr));

  align-items: center;
  column-gap: 8px;
  row-gap: 8px;
  border-radius: 8px;
  background: var(--color-abru-dark-29);
  padding: 24px;

  @media (width >= theme(--breakpoint-xl)) {
    grid-template-areas:
      'captionSkill  captionSkill captionSkill captionSkill captionSkill captionSkill . captionWinLoss  captionWinLoss  .       . linkEdit'
      'skillScout    skillSoldier skillDemoman skillMedic   buttonSave   buttonReset  . winLoss         winLoss         winLoss . linkEdit';
    grid-template-columns: repeat(6, minmax(0, 2fr)) 1fr repeat(3, 2fr) 1fr 2fr;
    align-items: flex-end;
  }

  .caption {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-abru-light-75);
  }

  .game-result {
    height: 24px;
    width: 24px;
    border-radius: 4px;

    &.win {
      background-color: var(--color-game-result-win);
    }

    &.loss {
      background-color: var(--color-game-result-loss);
    }

    &.tie {
      background-color: var(--color-game-result-tie);
    }
  }

  .game-count-selection {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;

    button {
      cursor: pointer;
      display: inline-block;

      padding: 4px 8px;
      border-radius: 4px;
      color: var(--color-ash);

      &.selected {
        background-color: var(--color-abru-light-5);
      }
    }
  }

  .game-count {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 500;

    .wins {
      color: var(--color-game-result-win);
    }

    .losses {
      color: var(--color-game-result-loss);
    }

    .ties {
      color: var(--color-game-result-tie);
    }
  }
}
