.game-summary-caption {
  background: linear-gradient(
    180deg,
    theme(colors.transparent) 35%,
    theme(colors.abru.dark.29) 90%
  );

  .floating-label {
    background-color: theme(colors.abru.DEFAULT/90);
    position: absolute;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3px;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @apply shadow;
  }
}

.game-info {
  display: flex;
  flex-flow: column nowrap;

  color: theme(colors.abru.light.75);

  .label {
    font-weight: 300;
  }

  .value {
    font-weight: 500;
  }
}

.score-header {
  display: flex;
  justify-content: space-between;

  padding: 7px 24px 8px 24px;
  font-size: 48px;
  line-height: normal;
  font-weight: 700;

  color: theme('colors.ash');

  &.blu {
    background-color: theme('colors.team-blu');
    padding-right: 34px;
    border-top-left-radius: 8px;
    flex-direction: row;
  }

  &.red {
    background-color: theme('colors.team-red');
    padding-left: 34px;
    border-top-right-radius: 8px;
    flex-direction: row-reverse;
  }
}

.slot-list {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 8px 8px;
  background-color: rgb(0 0 0 / 0.4);
  padding: 10px;

  .slot {
    @apply transition-colors;
    @apply duration-75;

    display: flex;
    background-color: theme(colors.abru.light.75);
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    padding: 10px;

    &:hover {
      background-color: theme(colors.abru.light.70);
    }

    .connected {
      background-color: #0a955b;
    }

    .joining {
      background-color: #d9861a;
    }

    .offline {
      background-color: #b80c4d;
    }
  }
}

.game-list {
  display: grid;
  column-gap: 8px;
  row-gap: 10px;

  grid-template-columns: 22px auto 1fr 1fr auto;

  @media screen(sm) {
    grid-template-columns: 22px repeat(4, auto) 1fr 1fr;
  }

  @media screen(xl) {
    grid-template-columns: 22px repeat(5, auto) 1fr;
  }

  .game-list-item {
    @apply transition-colors;
    @apply duration-75;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    position: relative;
    @apply col-span-5;
    @apply row-span-3;
    place-items: center;

    padding: 8px;

    color: theme('colors.abru.light.75');
    font-weight: 500;

    background: theme('colors.abru.light.15 / 85%');

    overflow: hidden;
    border-radius: 8px;

    @media screen(sm) {
      @apply col-span-7;
      @apply row-span-1;

      grid-template-rows: initial;
      height: 60px;
    }

    @media screen(xl) {
      height: 80px;

      background: theme('colors.abru.light.15');
      background: linear-gradient(
        90deg,
        theme('colors.abru.light.15') 35%,
        theme('colors.transparent') 90%
      );
    }

    &:hover {
      background: theme('colors.abru.light.15 / 90%');

      @media screen(xl) {
        background: linear-gradient(
          90deg,
          lighten(theme('colors.abru.light.15'), 3%) 35%,
          theme('colors.transparent') 90%
        );
      }
    }

    .live-indicator {
      @apply row-span-3;
      order: 0;

      @media screen(sm) {
        @apply row-span-1;
      }
    }

    .game-number {
      @apply row-span-3;
      order: 1;

      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media screen(sm) {
        @apply row-span-1;
      }
    }

    .game-class-icon {
      @apply row-span-3;
      order: 3;
      margin: 0 8px;

      @media screen(sm) {
        @apply row-span-1;
        order: 2;
      }
    }

    .map-name {
      @apply col-span-2;
      order: 2;
      white-space: nowrap;

      @media screen(sm) {
        @apply col-span-1;
        order: 5;
      }

      @media screen(xl) {
        justify-self: start;
        margin: 0 16px;
      }
    }

    .launched-at {
      @apply col-span-2;
      order: 4;
      white-space: nowrap;

      @media screen(sm) {
        @apply col-span-1;
        order: 6;
      }

      @media screen(xl) {
        justify-self: start;
      }
    }

    .label {
      border-radius: 3px;
      padding: 0 13px;
      text-align: center;
      white-space: nowrap;
      order: 5;

      @media screen(sm) {
        order: 3;
      }

      &--blu {
        background-color: theme('colors.team-blu');
        text-transform: uppercase;
        order: 5;

        @media screen(sm) {
          order: 3;
        }
      }

      &--red {
        background-color: theme('colors.team-red');
        text-transform: uppercase;
        order: 6;

        @media screen(sm) {
          order: 4;
        }
      }

      &--interrupted {
        @apply col-span-2;
        background-color: theme('colors.abru.light.25');
        justify-self: stretch;
      }

      &--launching {
        @apply col-span-2;
        background-color: theme('colors.alert');
        color: theme('colors.abru.light.3');
        justify-self: stretch;
      }
    }
  }
}

.connect-string {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-color: theme(colors.abru.light.25);
  background-color: theme(colors.abru.light.5);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  color: theme(colors.abru.light.75);

  .fade {
    mask-image: linear-gradient(90deg, #000 80%, transparent);
  }
}

.game-summary-link {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: theme(colors.abru.light.3);

  &:hover {
    background-color: theme(colors.abru.light.5);
  }
}

.join-game-button {
  font-size: 18px;
}
