.game-page {
  display: grid;
  grid-template-areas:
    'gameSummary'
    'scoreBlu'
    'slotsBlu'
    'slotsBlu'
    'slotsBlu'
    'slotsBlu'
    'slotsBlu'
    'slotsBlu'
    'scoreRed'
    'slotsRed'
    'slotsRed'
    'slotsRed'
    'slotsRed'
    'slotsRed'
    'slotsRed'
    'gameEvents';

  @media screen(xl) {
    grid-template-areas:
      'gameSummary scoreBlu scoreBlu       scoreRed       scoreRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameSummary slotsBlu gameClassIcons gameClassIcons slotsRed'
      'gameEvents  .        .              .              .';
    grid-template-columns: 2fr 3fr auto auto 3fr;
  }

  .score-header {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'teamName score';

    padding: 7px 24px 8px 24px;
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
    margin-top: 16px;

    color: theme('colors.ash');

    @media screen(xl) {
      margin-top: 0;
    }

    &.team-blu {
      grid-area: scoreBlu;
      background-color: theme('colors.team-blu');

      @media screen(xl) {
        border-radius: 8px 0 0 0;
        margin-right: 2px;
      }
    }

    &.team-red {
      grid-area: scoreRed;
      background-color: theme('colors.team-red');

      @media screen(xl) {
        grid-template-areas: 'score teamName';
        border-radius: 0 8px 0 0;
        margin-left: 2px;
      }
    }
  }

  .game-class-icons {
    display: none;
    grid-area: gameClassIcons;
    grid-template-rows: subgrid;
    background-color: rgb(0 0 0 / 0.4);
    align-items: center;

    @media screen(xl) {
      display: grid;
    }
  }

  .slot-list {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: subgrid;
    grid-template-areas: 'classIcon playerAvatar playerName slotAction playerConnectionStatus';

    align-items: center;
    padding-top: 10px;
    gap: 10px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(0 0 0 / 0.4);

    &.team-blu {
      grid-area: slotsBlu;

      @media screen(xl) {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: 'playerConnectionStatus slotAction playerName playerName playerName playerAvatar';

        border-radius: 0 0 0 8px;

        .player-name {
          text-align: right;
        }
      }
    }

    &.team-red {
      grid-area: slotsRed;

      @media screen(xl) {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: 'playerAvatar playerName playerName playerName slotAction playerConnectionStatus';

        border-radius: 0 0 8px 0;
      }
    }

    .slot {
      @apply transition-colors;
      @apply duration-75;

      margin: 0 10px 0 10px;
      height: 60px;

      align-items: center;
      border-radius: 4px;
      padding: 10px;

      &:last-of-type {
        margin-bottom: 10px;
      }

      &.active {
        display: grid;
        grid-column: span 6 / span 6;
        grid-template-columns: subgrid;

        background-color: theme(colors.abru.light.60);

        .class-icon {
          grid-area: classIcon;

          @media screen(xl) {
            display: none;
          }
        }

        .player-avatar {
          grid-area: playerAvatar;
        }

        .player-name {
          grid-area: playerName;
          font-size: 20px;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .slot-action {
          grid-area: slotAction;
        }

        .player-connection-status {
          width: 6px;
          align-self: stretch;
          border-radius: 4px;
          grid-area: playerConnectionStatus;

          &.connected {
            background-color: #0a955b;
          }

          &.joining {
            background-color: #d9861a;
          }

          &.offline {
            background-color: #b80c4d;
          }
        }
      }

      &.waiting-for-substitute {
        grid-column: span 6 / span 6;
        display: grid;
        background-color: theme(colors.abru.light.30);
        color: theme(colors.abru.light.60);
      }
    }
  }

  .game-events {
    grid-area: gameEvents;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;

    margin-top: 16px;
  }
}

.game-summary-caption {
  background: linear-gradient(
    180deg,
    theme(colors.transparent) 35%,
    theme(colors.abru.dark.29) 90%
  );

  .floating-label {
    background-color: theme(colors.abru.DEFAULT/90);
    position: absolute;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3px;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @apply shadow;

    &:empty {
      display: none;
    }
  }
}

.game-info {
  display: flex;
  flex-flow: column nowrap;

  color: theme(colors.abru.light.75);

  .label {
    font-weight: 300;
  }

  .value {
    font-weight: 500;
  }
}

.connect-string {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-color: theme(colors.abru.light.25);
  background-color: theme(colors.abru.light.5);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  color: theme(colors.abru.light.75);

  .fade {
    mask-image: linear-gradient(90deg, #000 80%, transparent);
  }
}

.game-summary-link {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: theme(colors.abru.light.3);

  &:hover {
    background-color: theme(colors.abru.light.5);
  }
}

.join-game-button {
  font-size: 18px;
}

.game-event-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  .game-event {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;

    border-radius: 8px;
    background-color: theme(colors.abru.dark.15);

    padding: 10px;

    font-size: 16px;
    font-weight: 500;
    color: theme(colors.abru.light.75);
    line-height: normal;

    border: 1px solid theme(colors.abru.light.25);

    .at {
      font-size: 12px;
      font-weight: 400;
    }

    &--success {
      border-color: #0a955b;
    }

    &--info {
      border-color: #17a6ff;
    }

    &--warning {
      border-color: #ff9e1f;
    }
  }
}

.admin-action-button {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border-radius: 4px;

  color: theme(colors.ash);

  background-color: theme(colors.abru.dark.29);

  &:hover {
    background-color: lighten(theme('colors.abru.dark.29'), 2%);
  }
}
