.game-page {
  display: grid;
  grid-template-areas:
    'gameSummary'
    'scoreBlu'
    'slotsBlu'
    'scoreRed'
    'slotsRed'
    'gameEvents'
    'adminToolbox';

  @media screen(lg) {
    grid-template-areas:
      'gameSummary  gameSummary     gameSummary     gameSummary'
      'scoreBlu     scoreBlu        scoreRed        scoreRed'
      'slotsBlu     gameClassIcons  gameClassIcons  slotsRed'
      'gameEvents   gameEvents      gameEvents      gameEvents'
      'adminToolbox adminToolbox    adminToolbox    adminToolbox';
    grid-template-columns: 1fr auto auto 1fr;
  }

  @media screen(xl) {
    grid-template-areas:
      'gameSummary scoreBlu     scoreBlu        scoreRed        scoreRed'
      'gameSummary slotsBlu     gameClassIcons  gameClassIcons  slotsRed'
      'gameEvents  adminToolbox adminToolbox    adminToolbox    adminToolbox'
      'gameEvents  .            .               .               .';
    grid-template-columns: 2fr 3fr auto auto 3fr;
  }

  .score-header {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'teamName score';

    padding: 7px 24px 8px 24px;
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
    margin-top: 16px;

    color: theme('colors.ash');

    @media screen(xl) {
      margin-top: 0;
    }

    &.team-blu {
      grid-area: scoreBlu;
      background-color: theme('colors.team-blu');

      @media screen(lg) {
        border-radius: 8px 0 0 0;
        margin-right: 2px;
      }
    }

    &.team-red {
      grid-area: scoreRed;
      background-color: theme('colors.team-red');

      @media screen(lg) {
        grid-template-areas: 'score teamName';
        border-radius: 0 8px 0 0;
        margin-left: 2px;
      }
    }
  }

  .game-class-icons {
    display: none;
    grid-area: gameClassIcons;
    background-color: rgb(0 0 0 / 0.4);
    align-items: center;
    padding: 4px 0;

    @media screen(lg) {
      display: grid;
    }
  }

  .slot-list {
    display: grid;

    align-items: center;
    padding: 10px 0;
    gap: 10px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(0 0 0 / 0.4);

    &.team-blu {
      grid-area: slotsBlu;
      grid-template-areas:
        'bluScout1'
        'bluScout2'
        'bluSoldier1'
        'bluSoldier2'
        'bluDemoman1'
        'bluMedic1';

      @media screen(lg) {
        border-radius: 0 0 0 8px;

        .slot {
          flex-flow: row-reverse nowrap;

          .player-name {
            text-align: right;
          }
        }
      }
    }

    &.team-red {
      grid-area: slotsRed;
      grid-template-areas:
        'redScout1'
        'redScout2'
        'redSoldier1'
        'redSoldier2'
        'redDemoman1'
        'redMedic1';

      @media screen(lg) {
        border-radius: 0 0 8px 0;
      }
    }

    .slot {
      @apply transition-colors;
      @apply duration-75;

      display: flex;
      flex-flow: row nowrap;
      gap: 8px;

      margin: 0 10px 0 10px;
      height: 60px;

      align-items: center;
      border-radius: 4px;
      padding: 10px;

      &.active {
        background-color: theme(colors.abru.light.60);

        .class-icon {
          @media screen(lg) {
            display: none;
          }
        }

        .player-name {
          flex: 1 1 0;
          font-size: 20px;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            text-decoration: underline;
          }
        }

        .player-connection-status {
          width: 6px;
          align-self: stretch;
          border-radius: 4px;

          &.connected {
            background-color: #0a955b;
          }

          &.joining {
            background-color: #d9861a;
          }

          &.offline {
            background-color: #b80c4d;
          }
        }
      }

      &.waiting-for-substitute {
        background-color: theme(colors.abru.light.30);
        color: theme(colors.abru.light.60);
      }
    }
  }

  .game-events {
    grid-area: gameEvents;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;

    margin-top: 16px;
  }
}

.game-summary-caption {
  background: linear-gradient(
    180deg,
    theme(colors.transparent) 35%,
    theme(colors.abru.dark.29) 90%
  );

  .floating-label {
    background-color: theme(colors.abru.DEFAULT/90);
    position: absolute;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3px;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @apply shadow;

    &:empty {
      display: none;
    }
  }
}

.game-info {
  display: flex;
  flex-flow: column nowrap;

  color: theme(colors.abru.light.75);

  .label {
    font-weight: 300;
  }

  .value {
    font-weight: 500;
  }
}

.connect-string {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-color: theme(colors.abru.light.25);
  background-color: theme(colors.abru.light.5);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  color: theme(colors.abru.light.75);

  .fade {
    mask-image: linear-gradient(90deg, #000 80%, transparent);
  }
}

.game-summary-link {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: theme(colors.abru.light.3);

  &:hover {
    background-color: theme(colors.abru.light.5);
  }
}

.join-game-button {
  font-size: 18px;
}

.game-event-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  .game-event {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;

    border-radius: 8px;
    background-color: theme(colors.abru.dark.15);

    padding: 10px;

    font-size: 16px;
    font-weight: 500;
    color: theme(colors.abru.light.75);
    line-height: normal;

    border: 1px solid theme(colors.abru.light.25);

    .at {
      font-size: 12px;
      font-weight: 400;
    }

    &--success {
      border-color: #0a955b;
    }

    &--info {
      border-color: #17a6ff;
    }

    &--warning {
      border-color: #ff9e1f;
    }
  }
}

.admin-action-button {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border-radius: 4px;

  color: theme(colors.ash);

  background-color: theme(colors.abru.dark.29);

  &:hover {
    background-color: lighten(theme('colors.abru.dark.29'), 2%);
  }
}

.game-admin-toolbox {
  grid-area: adminToolbox;
  background-color: theme('colors.abru.dark.29');
  border-radius: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen(lg) {
    flex-direction: row;
    margin-top: 16px;
  }
}
