.game-summary-caption {
  background: linear-gradient(
    180deg,
    theme(colors.transparent) 35%,
    theme(colors.abru.dark.29) 90%
  );

  .floating-label {
    background-color: theme(colors.abru.DEFAULT/90);
    position: absolute;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3px;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @apply shadow;
  }
}

.game-info {
  display: flex;
  flex-flow: column nowrap;

  color: theme(colors.abru.light.75);

  .label {
    font-weight: 300;
  }

  .value {
    font-weight: 500;
  }
}

.score-header {
  display: flex;
  justify-content: space-between;

  padding: 7px 24px 8px 24px;
  font-size: 48px;
  line-height: normal;
  font-weight: 700;

  color: theme('colors.ash');

  &.blu {
    background-color: theme('colors.team-blu');
    padding-right: 34px;
    border-top-left-radius: 8px;
    flex-direction: row;
  }

  &.red {
    background-color: theme('colors.team-red');
    padding-left: 34px;
    border-top-right-radius: 8px;
    flex-direction: row-reverse;
  }
}

.slot-list {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 8px 8px;
  background-color: rgb(0 0 0 / 0.4);
  padding: 10px;

  .slot {
    @apply transition-colors;
    @apply duration-75;

    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    padding: 10px;

    &.active {
      background-color: theme(colors.abru.light.60);

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      .connected {
        background-color: #0a955b;
      }

      .joining {
        background-color: #d9861a;
      }

      .offline {
        background-color: #b80c4d;
      }
    }

    &.waiting-for-substitute {
      background-color: theme(colors.abru.light.30);
      color: theme(colors.abru.light.60);
    }
  }
}

.connect-string {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-color: theme(colors.abru.light.25);
  background-color: theme(colors.abru.light.5);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  color: theme(colors.abru.light.75);

  .fade {
    mask-image: linear-gradient(90deg, #000 80%, transparent);
  }
}

.game-summary-link {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: theme(colors.abru.light.3);

  &:hover {
    background-color: theme(colors.abru.light.5);
  }
}

.join-game-button {
  font-size: 18px;
}

.game-event-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  .game-event {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;

    border-radius: 8px;
    background-color: theme(colors.abru.dark.15);

    padding: 10px;

    font-size: 16px;
    font-weight: 500;
    color: theme(colors.abru.light.75);
    line-height: normal;

    border: 1px solid theme(colors.abru.light.25);

    .at {
      font-size: 12px;
      font-weight: 400;
    }

    &--success {
      border-color: #0a955b;
    }

    &--info {
      border-color: #17a6ff;
    }

    &--warning {
      border-color: #ff9e1f;
    }
  }
}

.admin-action-button {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border-radius: 4px;

  color: theme(colors.ash);

  background-color: theme(colors.abru.dark.29);

  &:hover {
    background-color: lighten(theme('colors.abru.dark.29'), 2%);
  }
}
