@reference '../../../html/styles/main.css';

@layer components {
  .queue-sidebar {
    display: flex;
    flex-flow: column nowrap;

    @media (width >= theme(--breakpoint-lg)) {
      height: 100%;
      max-height: 100%;
      border-radius: 8px;
      background-color: var(--color-abru-dark-6);
      padding: 8px;
    }

    @media (width < theme(--breakpoint-lg)) {
      .online-player-list,
      .chat {
        flex: none;
        background-color: var(--color-abru-dark-6);
        border-radius: 8px;
        overflow: hidden;
      }
    }

    .tab {
      margin: 10px;
      display: flex;
      align-items: center;

      .tab-link {
        position: relative;
        flex: 1;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding-bottom: 8px;

        color: var(--color-abru-light-75);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (width < theme(--breakpoint-lg)) {
          text-transform: uppercase;

          &.active {
            color: var(--color-ash);
          }
        }

        &.active::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 66px;
          left: calc(50% - 33px);
          border-bottom: 2px solid var(--color-accent);

          @media (width < theme(--breakpoint-lg)) {
            width: auto;
            left: 8px;
            right: 8px;
          }
        }

        &.has-mention::before {
          content: '★';
          position: absolute;
          top: -4px;
          right: 4px;
          font-size: 10px;
          color: var(--color-accent);
          line-height: 1;
        }
      }
    }
  }
}
