@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #221d24;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (min-width: 1700px) {
  body {
    background-image: url('/bg@2x.png');
  }
}

dialog::backdrop {
  background: theme(colors.abru.dark.3 / 50%);
  backdrop-filter: blur(1px);
}

.button {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border-radius: 4px;

  text-transform: uppercase;

  color: theme(colors.ash);

  background-color: theme(colors.abru.light.15);
  &:hover {
    background-color: darken(theme(colors.abru.light.15), 5%);
  }

  &:disabled {
    background-color: theme(colors.abru.light.35);
    color: theme(colors.abru.light.60);

    &:hover {
      background-color: theme(colors.abru.light.35);
      color: theme(colors.abru.light.60);
    }
  }

  &--accent {
    background-color: theme(colors.accent.DEFAULT);
    &:hover {
      background-color: darken(theme(colors.accent.DEFAULT), 10%);
    }
  }
}

.menu-item {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  background-color: theme(colors.abru.dark.29);
  color: theme(colors.abru.light.75);

  font-size: 36px;
  font-weight: 500;

  border-radius: 10px;
  padding: 7px 34px;

  &:hover {
    background-color: theme(colors.abru.dark.20 / 40%);
  }

  @media screen(lg) {
    background-color: initial;

    font-size: 18px;

    border-radius: 4px;
    padding: 4px 10px;
  }

  &.active {
    background-color: theme(colors.abru.dark.20);
  }
}

.steam-button {
  background-color: theme(colors.steam);
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 8px;
  align-items: center;

  span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;

    @media screen(lg) {
      font-size: 16px;
    }
  }

  .icon {
    background-color: #ffffff;
    color: theme(colors.steam);
    border-radius: 3px;
    padding: 1px;
  }
}
