.admin-panel-set {
  background: theme(colors.abru.dark.25);
  border-radius: 16px;
  padding: 24px;
  color: theme(colors.abru.light.50);

  .form-checkbox {
    margin-bottom: 16px;

    label {
      margin-left: 8px;
    }

    .description {
      color: theme(colors.abru.light.75);
      font-size: 12px;
      margin-left: 22px;
    }
  }
}

.player-skill {
  display: flex;
  flex-flow: row nowrap;
  background-color: theme(colors.abru.light.5);
  border-radius: 4px;
  height: 48px;
  align-items: center;

  img {
    margin-left: 16px;
  }

  input {
    text-align: center;
    width: auto;
    min-width: 20px;
    background: transparent;
    border: none;
  }
}
