.chat {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .message-list {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 8px;

    .chat-date-separator {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px 0;
      color: theme(colors.abru.light.50);
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.08em;

      &::before,
      &::after {
        content: '';
        flex: 1 1 0%;
        border-bottom: 1px solid theme(colors.abru.light.50);
        margin: 0 8px;
      }

      span {
        white-space: nowrap;
      }
    }

    p {
      color: theme(colors.white);

      .at {
        white-space: nowrap;
        font-size: 12px;
        color: theme(colors.abru.light.50);
      }

      a.author {
        font-weight: bold;

        &.admin {
          color: theme(colors.alert);
        }
      }

      .body {
        a {
          text-decoration: underline dotted 1px;

          &:hover {
            text-decoration: underline solid 1px;
          }
        }
      }
    }
  }
}
