.map-vote-button {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 8px;
  padding: 13px;

  aspect-ratio: 3 / 1;

  background: theme(colors.abru.light.25);
  background: linear-gradient(
    90deg,
    theme(colors.abru.light.25) 35%,
    theme(colors.transparent) 90%
  );

  &:hover:enabled {
    background: linear-gradient(
      90deg,
      lighten(theme(colors.abru.light.25), 3%) 35%,
      theme(colors.transparent) 90%
    );
  }

  &[aria-checked='true'] {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      border-radius: 8px;
      border-width: 4px;
      border-color: theme(colors.white);
    }
  }
}
