.queue-slot {
  background-color: theme(colors.abru.light.30);
  color: theme(colors.abru.light.50);
  height: 58px;
  border-radius: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;

  .join-queue-button {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;

    background-color: theme(colors.abru.light.30);
    color: theme(colors.abru.light.30);

    &:hover:enabled {
      background-color: theme(colors.abru.light.25);
      color: theme(colors.abru.light.60);
    }
  }

  .leave-queue-button {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;

    height: 34px;
    width: 34px;
    border-radius: 4px;

    background-color: theme(colors.abru.light.30);
    color: theme(colors.white);

    &:hover:enabled {
      background-color: theme(colors.abru.light.35);
    }
  }

  .taken {
    background-color: theme(colors.abru.light.60);
  }

  .my-slot {
    background-color: theme(colors.abru.light.75);
  }

  .ready {
    background-color: #0a955b;
  }
}

.map-vote-button {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 8px;
  padding: 13px;

  aspect-ratio: 3 / 1;

  background: theme(colors.abru.light.25);
  background: linear-gradient(
    90deg,
    theme(colors.abru.light.25) 35%,
    theme(colors.transparent) 90%
  );

  &:hover:enabled {
    background: linear-gradient(
      90deg,
      lighten(theme(colors.abru.light.25), 3%) 35%,
      theme(colors.transparent) 90%
    );
  }
}
