.queue-slot {
  background-color: var(--color-abru-light-30);
  color: var(--color-abru-light-50);
  height: 58px;
  border-radius: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .join-queue-button {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;

    background-color: var(--color-abru-light-30);
    color: var(--color-abru-light-30);
    border-radius: 8px;

    &:has(> svg.icon-tabler-lock) {
      color: var(--color-abru-light-35);
    }

    &:hover:enabled {
      background-color: var(--color-abru-light-25);
      color: var(--color-abru-light-60);
    }
  }

  .player-info {
    padding: 8px;
    flex: 1;
    display: grid;
    grid-template-columns: 42px 1fr 42px;
    align-items: center;
    background-color: var(--color-abru-light-60);
    border-radius: 8px;

    img {
      border-radius: 4px;
    }

    a {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-abru-dark-3);
      margin: 0 4px;

      &:hover {
        text-decoration: underline;
      }
    }

    &:has(.leave-queue-button) {
      background-color: var(--color-abru-light-75);
    }

    &[data-player-ready='true'] {
      background-color: #0a955b;
    }

    .leave-queue-button {
      @apply transition-colors;
      @apply duration-75;

      display: flex;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;

      height: 34px;
      width: 34px;
      border-radius: 4px;

      background-color: var(--color-abru-light-30);
      color: var(--color-white);

      &:hover:enabled {
        background-color: var(--color-abru-light-35);
      }
    }

    .mark-as-friend-button {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;

      height: 34px;
      width: 34px;

      input[type='checkbox'] {
        appearance: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

      .mark {
        @apply transition-colors;
        @apply duration-75;

        color: var(--color-abru-dark-20);
        background-color: var(--color-abru-light-75);
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 4px;

        &:hover {
          background-color: var(--color-abru-light-70);
        }
      }

      input:checked ~ .mark {
        color: var(--color-accent-600);
      }

      input:disabled ~ .mark {
        color: var(--color-abru-light-60);
      }
    }
  }
}
