@reference '../../../html/styles/main.css';

@layer components {
  .queue-sidebar {
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100%;
    border-radius: 8px;
    background-color: var(--color-abru-dark-6);
    padding: 8px;
    display: none;

    @media (width >= theme(--breakpoint-lg)) {
      display: flex;
    }

    .tab {
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .tab-link,
      .tablink {
        position: relative;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding-bottom: 8px;

        color: var(--color-abru-light-75);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &.active::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 66px;
          left: calc(50% - 33px);
          border-bottom: 2px solid var(--color-accent);
        }

        &.has-mention::before {
          content: '★';
          position: absolute;
          top: -4px;
          right: 4px;
          font-size: 10px;
          color: var(--color-accent);
          line-height: 1;
        }
      }
    }
  }
}
