@reference '../../../html/styles/main.css';

@layer components {
  .stream-link {
    @apply transition-colors;
    @apply duration-75;

    background-color: var(--color-abru-light-15);

    &:hover {
      background-color: color-mix(in hsl, var(--color-abru-light-15), white 4%);
    }
  }
}
