name: check
on:
  push:
    branches:
      - 'master'
      - 'renovate/**'
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - 'master'

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10.30.1
      - run: pnpm install
      - run: pnpm lint

  xss-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10.30.1
      - run: pnpm install
      - run: pnpm xss-scan
